.home-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    width: 70%;
    padding-top: 30px;
}
.home-cards >div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
    border-bottom: none;
}

.main{
    display: flex;
}

.center{
    padding-left: 60px;
}