

.rem-div{
    margin-top: 50px;
}

.log-btn{
    border-radius: 8px;
    margin: 12px 0px;
    
    border:none;
    
    background-color: #69809a;
}
.log-btn:hover{
}


.log-btn:focus{
    outline: none;
}
.log-btn-p{

}
.log-div{
    background: #95A3B3;
    border-radius: 10px;
}

.log-input{
    background: none;
    border-radius: 8px;

    transition: 0.2s all;
}

.log-input:focus{
    /* background-color: #6c7b8b; */
    background: #95A3B3;
    outline: none; /* Remove default focus outline */
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2) !important;
  border: 1px solid #ffffff00;
}

.log-input::placeholder{
    color: #505050;
}