@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.mainFont {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
  }

.rem-div{
    margin-top: 50px;
}

.log-btn{
    border-radius: 8px;
    margin: 12px 0px;
    
    border:none;
    
    background-color: #4C68D7;
}
.log-btn:hover{
}


.log-btn:focus{
    outline: none;
}
.log-btn-p{

}
.log-div{
    background: #ffffff;
    border-radius: 10px;
}

.log-input{
    background: none;
    border-radius: 8px;

    transition: 0.2s all;
}

.log-input:focus{
    /* background-color: #6c7b8b; */
    background: #95A3B3;
    outline: none; /* Remove default focus outline */
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2) !important;
  border: 1px solid #ffffff00;
}

.log-input::placeholder{
    color: #505050;
}
