.club-logo{
    width: 100%;
    transition: 0.3s;
    /* overflow: hidden; */
    
}

.club-logo:hover{
    transform: scale(1.03);
}

.c-name{
    width: -webkit-fill-available;
    text-align: center;
    padding: 2px 0px;
    background: #4C68D7;
    font-weight: 500;
    font-size: 18px;
}

.club{
    cursor: pointer;
    overflow: hidden;
}

.img-div{
    border: 10px solid #4C68D7;
    overflow: hidden;
    
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2) !important;   
}

.img-div:hover{
}