@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');
.navbar {
    width: max(20vw, 100%) ;
    color: white;
    background-color: black;
    height: 100vh;
    padding-top: 15px;
    position: relative;
}

.clubLogin {
    bottom: 0px;
    height: 10vh;
    width: 100%;
    background-color: #4C68D7;
    margin-bottom: 0;
    position: absolute;
}

#home {
    font-family: "Inknut Antiqua", serif;
    margin: 2vw;
}