@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');
.navbar {
    width: 20vw;
    color: white;
    background-color: black;
    height: 100vh;
}

.clubLogin {
    bottom: 0px;
    height: 10vh;
    width: 20vw;
    background-color: #4C68D7;
}

#home {
    font-family: "Inknut Antiqua", serif;
    margin: 2vw;

}